@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutAltexBlueLogin.cshtml";
}
<div class="container-fluid wrapper-page">
    <div class="card-block">
        <div class="card-header">
            <h3>
                @ViewBag.Title
            </h3>
        </div>
        <div class="card-form">
            <p>
                Please check your email to reset your password.
            </p>
            <p class="text-danger">
                If you entered valid email, we will send you email with instructions for password recovery.
            </p>
        </div>
    </div>
</div>