@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutAltexBlue.cshtml";
}

<style>
    p{
        margin:15px;
    }
</style>

<h2>FAQ</h2>

<div class="card-block">
    
    <p>Here, my dear customer, goes your exchange FAQ</p>
    
</div>