@model IEnumerable<VotingForCoins>
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_LayoutAltexBlue.cshtml";
}
<h2>Customer Support Service</h2>
<h3>
    By phone(India), please call: 03346025634
    <br />
    By email, please write to: <a href="mailto:support@coinpayindia.com">support@coinpayindia.com</a>
</h3>
