<!DOCTYPE html>
<html lang="en">
<head>
    <title>CoinPayIndia | API Documentation</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/assets/vsdocs/css/style.min.css">
    <!-- <link rel="stylesheet" href="css/custom.css"> -->
    <script src="~/assets/vsdocs/js/modernizr.js"></script>
</head>
<body class="js-preload-me">
    <div class="preloader js-preloader"><div class="preloader-animation"></div></div>
    <div class="page js-page ">
        <div class="one-page-sidebar">
            <div class="one-page-sidebar-header">
                <div class="one-page-logo">
                    <a href="#" class="logo-image ">
                        <img src="/Content/altex_blue/img/loowerewgos_small_coinpayindia.png"  class="img-respomsive" style="height:24px;">
                    </a>

                </div>
            </div>
            <div class="one-page-nav-wrapper js-custom-scrollbar">
                <ul class="one-page-nav js-one-page-nav js-menu-vertical" data-prepend-to=".js-prepend-mobile-menu">
                    <li class="">
                        <a href="#ticker_api" class="">
                            <span class="one-page-nav-icon">

                            </span>Method "Ticker"
                        </a>
                    </li>
                    <li class="">
                        <a href="#coins_api" class="">
                            <span class="one-page-nav-icon">
                            </span>Method "Coins"
                        </a>
                    </li>

                    <li class="">
                        <a href="#markets_api" class="">
                            <span class="one-page-nav-icon">
                            </span>Method "Markets"
                        </a>
                    </li>
                    
                    @*<li class="">
                        <a href="#orders_api" class="">
                            <span class="one-page-nav-icon">
                            </span>Method "Orders"
                        </a>
                    </li>*@
                </ul>
            </div>
            <footer class="one-page-sidebar-footer">
                CoinPayIndia 2017
            </footer>
        </div>
        @RenderBody()
    </div>
    <script src="~/assets/vsdocs/js/all.js"></script>
    <script src="~/assets/vsdocs/js/custom.js"></script>
</body>
</html>