<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/altex_blue/css/font-awesome.min.css">
    <link href="~/Content/altex_blue/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/altex_blue/css/TechanChart.css?2">
    <link rel="stylesheet" href="~/Content/altex_blue/css/nanoscroller.css">
    <link rel="stylesheet" href="~/Content/altex_blue/css/style.css?4">
    <title>CoinPayIndia | CryptoCurrency Exchange</title>
    <style>
        .form-content {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
        .card-form > p{
            margin:20px;
        }
    </style>
</head>
<body>
    <div class="content">
        @RenderBody()
    </div>

    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Content/altex_blue/js/jquery-ui.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Content/altex_blue/js/jquery.nanoscroller.min.js"></script>
    <script src="~/Content/altex_blue/js/common.js"></script>

</body>
</html>