@{
    Layout = "~/Views/Shared/_LayoutAltexBlue.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Platform Trading</h2>
        <div class="sell-buy-block-table">
            <div class="sell-buy-block-table-tbody">
                <table>
                    <thead>
                        <tr>
                            <th>Platform</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BTC-e</td>
                            <td>
                                @if (ViewBag.BtceActive == true)
                                {
                                    <span class="label label-success">Active</span>
                                }
                                else
                                {
                                    <span class="label label-warning">Not Active</span>
                                }
                            </td>
                            <td><a href="@Url.Action("btce", "Activation")">API KEYS</a> | <a href="@Url.Action("btce", "Platforms")">TRADE</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        
    </div>
</div>